// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&family=Raleway&family=Roboto&display=swap');
// Переменные для блока
$fz: 100px;
$color_1: #000;
$color_2: #fff;

// Шаблон №1
.tplborder {
	font-size: 100px;
	border-bottom: 5px dashed red;
}
@mixin fontz($f, $c) {
	font-size: $f;
	color: $c;
}
$fz:100px;
@mixin fontz($f,$c){
	font-size: $f;
	color: $c;
}
// header
.container-fluid {
	min-height: 120px;
	margin: 0 auto;
}
.navbar-brand {
	font-family: "Permanent Marker";
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	color: rgb(20, 20, 20);
	margin: 0 auto;
	font-size: 30px;
}
.bascet{
	color: #000;
	text-decoration: none;
	margin-right: 280px;
	font-size: 25px;
	max-height: 30px;
	
}
.bascet:hover {
	color: rgb(43, 42, 42);
}
// header
.product-thumb {
	font-family: "Montserrat";
}

// main
.product-thumb a{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	padding: 20px;
	margin-top: 50px;
	
}
.card-img-top {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}
.card-img-top:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}
.card-title {
	font-weight: 600;
	display: block;
	height: 40px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
}
.card-text {
	font-size: 20px;
	line-height: 12px;
	text-align: center;
}

// footer
.border{
	color: #ccc;
	border-bottom: 1px solid #666;
}
footer {
	min-height: 100px;
	margin-top: 100px;
}
footer a {
	color: rgb(100, 100, 100);
	
	font-size: 16px;
	text-decoration: none;
	transition: all .3s;
}
footer a:hover {
	color: #000;
}

.pad {
	padding: 5px;
}
